@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
}
.animated-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.animated-loader div {
  box-sizing: border-box;

  position: absolute;
  width: 64px;
  height: 64px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: animated-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}
.animated-loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.animated-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.animated-loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes animated-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-about-error {
  position: absolute;
  bottom: 20px;
  border: 3px solid black;
  font-size: 1.3rem;
  left: 20px;
  border-radius: 2rem;
  padding: 5px;
  color: rgb(214, 11, 11);
  opacity: 0;
  transition: 0.8s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-checkbox-inner::after {
  width: 50px;
  height: 50px;
}
.conteiner {
  min-width: 50vw;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 2rem;
  margin-top: 1vh;
  border-radius: 3rem;
}


.ant-input.todo__text{width: 40vw;
  font-size: 1.4rem;

}

.todo__text-error {
  width: 40vw;
  height: 3rem;
  border: 2px solid black;
  background-color: rgb(179, 90, 90);
  border-radius: 0.5rem;
  font-size: 2rem;
}

.paginate__button {
  min-width: 2vw;
  min-height: 3vh;
  width: 4vw;
  height: 6vh;
  max-width: 4vw;
  max-height: 6vh;
  /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.paginate__button-active {
  background-color: black;
  color: white;
}

.paginate__button:hover {
  background-color: black;
  color: white;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vw;
  width: 40vw;
}

.filter__button {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-left: 2px;
}

.filter__button-active {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.filter__button:hover {
  background-color: black;
  color: white;
}

.filter__arrow-down {
  background-color: white;
  border: white;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1rem;
}

.filter__arrow-active {
  background-color: white;
  color: white;
  filter: invert(100%);
  border: white;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1rem;
}

.sortBy-text {
  margin-right: 1rem;
}
.filter__arrow-up {
  background-color: white;
  border: white;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.7rem;
}

.filter__arrow-up:hover {
  filter: invert(100%);
}

.filter__arrow-down:hover {
  filter: invert(100%);
}

.todo-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 30vh;
  min-height: 30vh;
  min-width: 35vw;
}
.ant-pagination {
  width: 40vw;
  flex-direction: row;
}
.filter-sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 4.6rem;
}

ul {
  flex-direction: column;
  padding-inline-start: 0px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #212529;
  margin-top: 10px;
  width: 40vw;
}

.todo-list__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  min-width: 13vw;
}
p {
  margin: 0;
}

.todo-list__input {
  font-size: 1.6rem;
  max-width: 13vw;
}

.todo-list__input-error {
  font-size: 1.6rem;
  max-width: 13vw;
  background-color: rgb(194, 101, 101);
}

.input {
  border-radius: 1rem;
}

.todo-list__button {
  width: 20px;
  height: 20px;
}

.todo-list__trashbin {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border: none;
  border-bottom-right-radius: 0.85rem;
  border-top-right-radius: 0.85rem;
}
.todo-list__date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list__trashbin:hover {
  background-color: white;
  filter: invert(100%);
}

.paginate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}
