.todo-list__input {
  font-size: 1.6rem;
  max-width: 13vw;
}

.ant-checkbox-inner{
  width: 200px;
  height: 16px;
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
  -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
}
.todo-list__input-error {
  font-size: 1.6rem;
  max-width: 13vw;
  background-color: rgb(194, 101, 101);
}

.todo-list__button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: white;
  border: none;
  cursor: pointer;
  max-width: 3rem;
  width: 2rem;
}


.todo-list__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  min-width: 13vw;
}
.todo-list__input {
  font-size: 1.6rem;
  max-width: 13vw;
}

.todo-list__input-error {
  font-size: 1.6rem;
  max-width: 13vw;
  background-color: rgb(194, 101, 101);
}
.todo-list__date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list__trashbin {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border: none;
  border-bottom-right-radius: 0.85rem;
  border-top-right-radius: 0.85rem;
}
.todo-list__date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list__trashbin:hover {
  background-color: white;
  filter: invert(100%);
}
