@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    max-width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 3rem;
    margin-top: 12vh;
}

.todo__text {
    width: 40vw;
    height: 2rem;
    border: 2px solid black;
}

.changer__button {
    width: 4vw;
    height: 6vh;
    /* Safari */
    transition-duration: 0.4s;
    background-color: white;
}

.changer__button:hover {
    background-color: black;
    color: white
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
    width: 40vw;
}

.filter__button-all {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    font-size: 0.9rem;
}

.filter__button-done {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    font-size: 0.9rem;
}

.filter__button-undone {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    font-size: 0.9rem;
}

.filter__button-all:hover {
    background-color: black;
    color: white;
}

.filter__button-done:hover {
    background-color: black;
    color: white;
}

.filter__button-undone:hover {
    background-color: black;
    color: white;
}

.filter__arrow-down {
    background-color: white;
    border: white;
    transition-duration: 0.4s;
}

.filter__arrow-up {
    background-color: white;
    border: white;
}

.filter__arrow-up:hover {
    filter: invert(100%);
}

.filter__arrow-down:hover {
    filter: invert(100%);
}

.todo-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.changer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
    min-width: 30vw;
}

.filter-sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 4.6rem;
}

ul {
    flex-direction: column;
    padding-inline-start: 0px
}

li {
    display: flex;
    justify-content: space-between;
    border: 2px solid #212529;
    margin-top: 10px;
    width: 40vw;
    height: 8vh;
}

.todo-list__text {
    min-width: 6rem;
}

[data-tooltip] {
    position: relative;
    background: rgb(2, 2, 2);
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 3rem;
    left: 0;
    top: 0;
    background: rgb(2, 2, 2);
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}

.todo-list__button {
    -webkit-transition-duration: 0.4s;
    background-color: white;
    border: none;
    max-width: 3rem;
    margin-right: 2rem;
}

.todo-list__button:hover {
    filter: invert(100%);
}

.todo-list__trashbin {
    -webkit-transition-duration: 0.4s;
    background-color: white;
    border: none;
}

.todo-list__trashbin:hover {
    background-color: white;
    filter: invert(100%);
}